.section-pricing {
    padding: 9.6rem 0;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    color: #077252;
    margin-bottom: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

.heading-secondary {
    font-weight: 700;
    color: #333;
}

.margin-bottom-md {
    margin-bottom: 4.8rem !important;
}

.pricing-plan--montly {
    border: 2px solid #e6f2ef;
    padding: 4.6rem;
    justify-self: end;
}

.pricing-plan {
    border-radius: 11px;
    width: 75%;
}

.pricing-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.pricing-name {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #077252;
    margin-bottom: 3.2rem;
}

.price-plan {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}

.price-plan span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.pricing-text {
    font-size: 1.6rem;
    font-weight: 600;
    color: #777;
}

.gym-items-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.items-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.8rem;
}

.gym-card-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #40c057;
}

.hydrated {
    visibility: inherit;
}

.price-sign-up {
    text-align: center;
    margin-top: 4.8rem;
}

.btn--full {
    background-color: #087f5b;
    color: #fff;
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.margin-right-sm {
    margin-right: 1.6rem;
}

.pricing-plan--yearly {
    padding: 4.8rem;
    background-color: #e6f2ef;
    position: relative;
    overflow: hidden;
}

.pricing-plan--yearly::after {
    content: "Best value";
    position: absolute;
    top: 6%;
    right: -18%;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    background-color: #94d82d;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
}

.plan-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}

.grid-4-columns {
    grid-template-columns: repeat(4, 1fr);
}

.feature-icon {
    color: #087f5b;
    height: 3.2rem;
    width: 3.2rem;
    margin-bottom: 3.2rem;
    background-color: #b5d9ce;
    padding: 1.6rem;
    border-radius: 50%;
}

.feature-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
}

@media (max-width: 44em) {
    .pricing-plan {
        width: 100%;
    }
}

@media (max-width: 34em) {
    .btn {
        padding: 2.4rem 1.6rem;
    }

    .grid-4-columns {
        grid-template-columns: 1fr;
    }
}